#application_input_row {
	display: none;
}

#project_select_row {
	display: none;
}

#environment_select_row {
	display: none;
}

#info_row {
	display: none;
}

#info_row td p {
	color: grey;
	text-align: right;
}

#submit_name_row {
	display: none;
}

#response_panel {
	display: none;
}
