#application_select_row {
	display: none;
}

#project_select_row {
	display: none;
}

#environment_select_row {
	display: none;
}

#instance_select_row {
	display: none;
}

#response_panel {
	display: none;
}

#new_submit_panel {
	display: none;
}

#existing_submit_panel {
	display: none;
}

#instance_name_panel {
	display: none;
}


.section_panel {
	display: none;
}

p.center {
	text-align: center;
}

.custom_checkbox {
	width: 20px;
	height: 20px;
	text-align: right;
}
